body{
background:pink;
font-family:Arial;
text-align:center;
}

.box{
margin-top:200px;
}

input{
padding:10px;
font-size:18px;
}

button{
padding:10px 20px;
background:red;
color:white;
border:none;
font-size:16px;
cursor:pointer;
}

.wishBox{
margin-top:150px;
font-size:22px;
color:red;
}


